.home-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 64px);
}

.shortcut {
    display: inline-block;
    width: 200px;
    height: 200px;
    font-size: large;
    margin: 16px;
    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}
